<div class="sidebar">
	<div class="link">
		<a href="/user/profile">Dashboard</a>
	</div>

	<div class="link">
		<a href="/user/tasks/all">All Tasks</a>
	</div>

	<div class="link">
		<a href="/user/completed">Completed</a>
	</div>
</div>
