<div class="content">
	<button class="primary" style="margin: 0 1rem">+ Add new</button>

	<div class="task">
		<div class="task_title">Sample Task</div>

		<div class="task_desc">task description</div>

		<div class="task_actions">
			<button class="primary">Mark Complete</button>
			<button class="secondary">Delete task</button>
		</div>
	</div>
</div>
