<%- include('../templates/profile_header.ejs') %> <%-
include('../modals/create_task.ejs') %>

<div class="profile">
	<%- include('../templates/profile_sidebar.ejs') %> <%-
	include('../templates/profile_content.ejs') %>
</div>
